My_AI_Agent.json
{
  "name": "Intelligent Customer Support Triage",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "readStatus": "unread"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -32,
        0
      ],
      "id": "5ca842b9-652a-4d8f-a009-b020cd096191",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZsAvvBYIkqRsMET8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.snippet }}"
            },
            {
              "role": "system",
              "content": "You are an expert customer support triage assistant. Analyze emails and extract structured data. You MUST respond with valid JSON only. The JSON must match this structure: { \"category\": \"string\", \"summary\": \"string\" }. Definitions: 'Urgent Complaint' (angry/business-critical), 'Sales Inquiry' (new quote/pricing), 'General Question' (calm/info), 'Spam'. 'summary' is a one-sentence overview."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        176,
        0
      ],
      "id": "317a316e-1ae4-4d6f-b83a-406f7c2b4650",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "BUzOhX0g56Z4b8wt",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "python",
        "pythonCode": "# Add a new field called 'myNewField' to the JSON of the item\n_input.item.json.myNewField = 1\nreturn _input.item"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "0a6ca071-2c52-43de-9ecd-c7b5c8172227",
      "name": "Code in Python (Beta)"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "Urgent Complaint",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b229da9d-9e86-4815-b861-eda42938e51c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6dc4e188-f63c-408f-bede-7c38e594239b",
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "=Sales Inquiry",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1091bcd0-6ae3-4769-bbf6-0df8a70a6c68",
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "General Question",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d6e2e4e5-552f-40f6-9b80-c835e975784a",
                    "leftValue": "={{ $json.output[0].content[0].text.category }}",
                    "rightValue": "Spam",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "allMatchingOutputs": false
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        832,
        -32
      ],
      "id": "648f38e3-6838-4505-94c9-44f6c8252382",
      "name": "Switch"
    },
    {
      "parameters": {
        "listId": "69200df498a0c35fbae42a77",
        "name": "=URGENT: {{ $json.output[0].content[0].text.summary }}",
        "description": "=**Category:** {{ $json.output[0].content[0].text.category }}\n\n**Original Email:**\n{{ $('Gmail Trigger').item.json.From }}\n",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.trello",
      "typeVersion": 1,
      "position": [
        1296,
        -336
      ],
      "id": "82035dd9-53c2-49be-bb15-c37d56b64370",
      "name": "Create a card",
      "credentials": {
        "trelloApi": {
          "id": "SB4JsEkZthVVKz0K",
          "name": "Trello account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1MrcZlrP0QprVGF9rQjCubdmRYAo40hygt105S-38aow/edit?usp=sharing",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $now }}",
            "Customer Email": "={{ $('Gmail Trigger').item.json.From }}",
            "Summary": "={{ $('Code in Python (Beta)').item.json.output[0].content[0].text.summary }}",
            "Full Request": "={{ $('Gmail Trigger').item.json.snippet }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Customer Email",
              "displayName": "Customer Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full Request",
              "displayName": "Full Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1312,
        -144
      ],
      "id": "435de249-7c4d-469a-876e-7c7420206575",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "h1sXTY1X6SYOQ4dB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Gmail Trigger').item.json.From }}",
        "subject": "=Re: Your Question",
        "emailType": "text",
        "message": "=Thank you for your email. We have received your question and a support agent will review it shortly.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1264,
        48
      ],
      "id": "b6513044-3258-4b36-b7f7-978375e29542",
      "name": "Send a message",
      "webhookId": "2cc0ff4a-2a4f-4c5a-9bb8-3383045dd2e5",
      "credentials": {
        "gmailOAuth2": {
          "id": "ZsAvvBYIkqRsMET8",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1312,
        240
      ],
      "id": "c20909a7-e4a6-4ae9-a57a-bb749d6bfdca",
      "name": "No Operation, do nothing"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Code in Python (Beta)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python (Beta)": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create a card",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "16fc0e95-2b46-4dee-b689-7b98a6bfbd71",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "591d4c22552367228b58e3e0a652692218fc21c73b28a45041c6168985b7abe6"
  },
  "id": "EhavQtiIPwGLwDH2",
  "tags": []
}